@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Courier New,  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
}

html, body{
	background-image: url("./images/white-paper-texture.jpg");
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}